<html>
<head>
  <base href="/">      
  <script src="/lib/bcryptjs/dist/bcrypt.min.js"></script>
  <script src="/lib/angular/angular.js"></script>
  <script src="/lib/angular-route/angular-route.js"></script>
  <script src="/lib/controllers.js"></script>
  <script src="/lib/dirPagination.js"></script>
  <script src="/lib/app.js"></script>
  <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <script href="/lib/angular-bootstrap/ui-bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=PT+Serif+Caption:400,400italic' rel='stylesheet' type='text/css'>
  <link href="/lib/css/style.css" rel="stylesheet">
</head>
<body ng-app="BookCatalog">
<div class="header">
  <a href="http://cedarfortbooks.com/"><img src="/img/cflogo.png"></a>
  <div class="nav" ng-include="'/tpl/nav.html'"></div>
</div>
<section>
  <div class="content" ng-view></div>
</section>
</body>
</html>
