<div>
	<form novalidate class="create">
		Title: <input type="text" ng-model="title.title" /><br />
		Article: <input type="text" ng-model="title.article" /><br />
		Subtitle: <input type="text" ng-model="title.subtitle"/><br />
		ISBN(s): <select ng-change="addISBN(title.isbns, newType)" ng-model="newType">
				<option selected="selected">Add New</option>
				<option>Print</option>
				<option>Ebook</option>
				<option>UPC</option>
		</select>
		<ul>
				<li ng-repeat="(key, value) in title.isbns">
					{{key[0].toUpperCase() + key.substr(1)}}: 
					<input type="text" ng-model="title.isbns[key]">
					<button ng-click="remove(key, title.isbns)">
						Remove {{key}} ISBN
					</button>
				</li>
		</ul>
	</form>
	<pre>{{title | json}}<br />{{newType | json}}</pre>
</div>
