body
  font 14px "PT Serif Caption", Helvetica, Arial, sans-serif
  margin 0
a
  color #00B7FF
dt 
  display inline
  margin-left .5em
dd
  display inline
  margin-left 0

.header
  width 100%
  padding .5em 1em
  background-color cornflowerblue
.content
  padding 30px
.mainContent
  display inline-block
  margin 30px
  width 70%
.sidebar
  display inline-block
  vertical-align top
  width 20%
  background-color lightsteelblue
  padding .5em
.pagination
  list-style  none
.pagination li
  display inline-block
  background-color azure
.pagination a, .pagination a:hover
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #428bca;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;






